body {
  margin: auto;
  font-family: arial;
  max-width: 600px;
  background-color: rgb(226, 218, 204);
}
h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
}
h4 {
  font-family: Georgia, "Times New Roman", Times, serif;
}

.box {
  border: solid 1px rgb(189, 169, 134);
  border-radius: 15px;
  margin: 30px auto;
  background-color: rgb(238, 236, 232);
  padding: 30px;
}
#btn-insta {
  color: aliceblue;
  border-radius: 20px;
  background-color: rgb(189, 85, 6);
  border: solid 1px rgb(189, 85, 6);
  padding: 5px 15px;
}
#btn-email {
  border-radius: 20px;
  border: solid 1px rgb(189, 169, 134);
  padding: 5px 15px;
}
#note {
  color: rgb(41, 160, 87);
}
p {
  opacity: 0.7;
  color: rgba(46, 37, 30, 0.822);
}
li {
  opacity: 0.7;
  color: rgba(46, 37, 30, 0.822);
}

#emoji {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(189, 85, 6);
  border-radius: 90%;
  height: 150px;
  width: 150px;
  margin: auto;
  font-size: 60px;
}

.col-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}
